@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --color-header: #124063;
  --color-text: #092031;
  --color-white: #fff;
  --font-family: "Poppins", sans-serif;
  --weight-light: 400;
  --weight-regular: 500;
  --weight-bold: 700;
  --transition: 300ms ease-in-out;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 1.5rem;
  background-color: #fdfdfd;
  color: var(--color-dim-grey);
  overflow-x: hidden;
  position: relative;
}

.navbar {
  width: 100%;
  position: fixed;
  -webkit-box-shadow: rgba(189, 189, 189, 0.7) 0px 10px 30px -10px;
  box-shadow: rgba(189, 189, 189, 0.7) 0px 10px 30px -10px;
}

.bluefill {
  background: #124063;
  height: 64px;
  width: 20%;
  float: left;
}

.navcontainer {
  width: 100%;
  max-width: 1152px;
  margin: 0 20%;
}

@media screen and (max-width: 768px) {
  .bluefill {
    display: none;
  }
  
  .navcontainer {
  margin: 0;
  }
}

.logocontainer {
  background: #124063;
  height: 64px;
  width: 100px;
  float: left;
}

.logo {
  line-height: 64px;
  text-align: center;
}

.logo a {
  color: #fff;
  font-weight: var(--weight-light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-decoration: none;
}

a:hover {
  color: #a5c3db;
}

.trapezoid {
  border-top: 64px solid #124063;
  border-right: 24px solid transparent;
  height: 0px;
  width: 4px;
  float: left;
  margin-right: -6px;
}

.trapezoid2 {
  transform: skew(-20deg);
  height: 64px;
  width: 24px;
  background: #1e6aa5;
  float: left;
  margin-right: 6px;
}

.trapezoid3 {
  transform: skew(-20deg);
  height: 64px;
  width: 24px;
  background: #a5c3db;
  float: left;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 64px;
  width: 64%;
  margin: 0 auto;
  padding: 0;
  float: right;
  transform: skew(-20deg);
}

li a {
  display: block;
  text-align: center;
  padding: 11px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #124063;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  transform: skew(20deg);
}

a:hover {
  color: #a5c3db;
}

#resume {
  z-index: 1;
  position: relative;
  border: 2px solid #124063;
  border-radius: 8px;
  height: 50px;
  width: 100px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

#resume::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #124063;
  color: var(--color-white);
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

#resume:hover {
  cursor: pointer;
}

#resume:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

#resume a:hover {
  color: var(--color-white);
}
