@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700");

:root {
  --color-text: #092031;
  --color-white: #fff;
  --color-dim-grey: #fdfdfd;
  --color-blue: #124063;
  --font-family: "Poppins", sans-serif;
  --weight-light: 400;
  --weight-regular: 500;
  --weight-bold: 700;
  --transition: 300ms ease-in-out;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 1.5rem;
  background-color: #fdfdfd;
  color: var(--color-dim-grey);
  overflow-x: hidden;
  position: relative;
}

.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
          clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

a {
  text-decoration: none;
  color: #124063;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  transform: skew(20deg);
}

a:hover {
  color: #a5c3db;
}

header {
  position: fixed;
  width: 100%;
  height: 6.4rem;
  background-color: var(--color-white);
  -webkit-box-shadow: rgba(133, 133, 133, 0.5) 0px 10px 30px -10px;
  box-shadow: rgba(133, 133, 133, 0.5) 0px 10px 30px -10px;
}

nav {
  display: block;
}

header .lmargin {
  background: #124063;
  height: 6.4rem;
  width: 20%;
  float: left;
}

header .navcontainer {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  height: 6.4rem;
  padding-right: 1.5rem;
}

header .logocontainer {
  background: #124063;
  height: 64px;
  width: auto;
  float: left;
  padding: 0 1.5rem;
}

header .logo {
  line-height: 64px;
  text-align: center;
}

header .logo a {
  color: #fff;
  font-weight: var(--weight-light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  .lmargin {
    display: none;
  }

  .navcontainer {
    margin: 0;
  }
}

.trapezoid {
  border-top: 64px solid #124063;
  border-right: 24px solid transparent;
  height: 0px;
  width: 4px;
  float: left;
  margin-right: -6px;
}

.trapezoid2 {
  transform: skew(-20deg);
  height: 64px;
  width: 24px;
  background: #1e6aa5;
  float: left;
  margin-right: 6px;
}

.trapezoid3 {
  transform: skew(-20deg);
  height: 64px;
  width: 24px;
  background: #a5c3db;
  float: left;
}

.navlist {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 64px;
  width: 64%;
  margin: 0 auto;
  padding: 0;
  float: right;
  transform: skew(-20deg);
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 48em) {
  header .navigation {
    display: none;
  }

  header .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: right;
    margin: 1.65rem;
  }
}

header .mobile .hamburger {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .mobile .hamburger .line {
  width: 100%;
  height: 0.2rem;
  background-color: #124063;
  margin: 0;
  padding: 0;
}

header .mobile .hamburger .line1,
header .mobile .hamburger .line2,
header .mobile .hamburger .line3 {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .mobile .hamburger .line1.show {
  -webkit-transform: translate(0px, 12px) rotate(405deg);
  transform: translate(0px, 12px) rotate(405deg);
  -webkit-animation: slant 0.2s;
  animation: slant 0.2s;
}

header .mobile .hamburger .line2.show {
  -webkit-transform: scale(0);
  transform: scale(0);
}

header .mobile .hamburger .line3.show {
  -webkit-transform: translate(0px, -15px) rotate(-405deg);
  transform: translate(0px, -15px) rotate(-405deg);
}

header .mobile .mobile__nav__items {
  display: none;
}

header .mobile .mobile__nav__items.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0a2540;
  color: white;
  margin-left: 0px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  position: absolute;
  bottom: calc(-90vh + 6.4rem);
  left: 0;
  width: 100vw;
  height: calc(90vh - 6.4rem);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .mobile .mobile__nav__items.show a {
  color: white;
  border-bottom: 1px solid white;
}

header .active {
  color: orangered;
}

li a {
  display: block;
  text-align: center;
  padding: 11px;
  text-decoration: none;
}


#resume {
  z-index: 1;
  position: relative;
  border: 2px solid #124063;
  border-radius: 8px;
  height: 50px;
  width: 100px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

#resume::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #124063;
  color: var(--color-white);
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

#resume:hover {
  cursor: pointer;
}

#resume:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

#resume a:hover {
  color: var(--color-white);
}
